<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-sign-in</title>
    <link rel="icon" href="images/logo/GeoConsultGroupLogo.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
</head>

<body>
    <a href="html/forms.html" class="btn__back"><img src="images/back_array.svg"></a>
    <div class="container d-flex mt-5">
        <div>
            <div class="row col-9 text-center">
                <h2>
                    Card information
                </h2>
                <p>
                    Indicate details of the card from which
                    money will be debited
                </p>
            </div>
            <div class="row col-9 border-3 border-dark">
                <div class="form-control shadow">
                    <form>
                        <div class="visa me-auto text-end">
                            <img src="images/visa-logo.png" alt="">
                        </div>
                        <div class="form-outline border-3 rounded-5 px-4">
                            <div class="row mb-4">
                                <label class="form-label" for="form6Example1">Card number</label>
                                <input type="text" id="form6Example1"
                                    class="form-control border-0 border-bottom rounded-0 w-50"
                                    placeholder="0000 0000 0000 0000" />
                            </div>
                            <div class="row mb-4 ">
                                <div class="col">
                                    <div class="w-75 row">
                                        <label class="form-label" for="form6Example1">Month and year</label>
                                        <div class="d-flex">
                                            <input type="text" id="form6Example1"
                                                class="form-control border-0 border-bottom rounded-0 w-25"
                                                placeholder="00" />
                                            <label class="form-label" for="form6Example1">/</label>
                                            <input type="text" id="form6Example1"
                                                class="form-control border-0 border-bottom rounded-0 w-25"
                                                placeholder="00" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="w-50 ms-auto">
                                        <label class="form-label" for="form6Example2">CVV code</label>
                                        <input type="text" id="form6Example2"
                                            class="form-control border-0 border-bottom rounded-0 w-75"
                                            placeholder="***" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div class="text-center">
                <h2>
                    Personal information
                </h2>
            </div>
            <div class="border-3 border-dark">
                <div class="mb-5">
                    <form>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example1" class="form-control" placeholder="First name"/>
                                    
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example2" class="form-control" placeholder="First name" />
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="form-outline">
                                <input type="text" id="form6Example2" class="form-control" placeholder="First name" />
                                
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example1" class="form-control" placeholder="First name" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example2" class="form-control" placeholder="First name" />
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="form-outline">
                                <input type="text" id="form6Example2" class="form-control" placeholder="First name" />
                                
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="form-outline">
                                <input type="text" id="form6Example2" class="form-control" placeholder="First name" />
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a type="submit" class="text-decoration-none btn-custom px-5 py-2 btn-block mb-4 text-center">Pay</a>
    </div>



    <!-- Scripts -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/script.js"></script>
    <!-- END -->
</body>

</html>