<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.cdnfonts.com/css/tauri" rel="stylesheet">

    <title>Sign up - Hustle</title>
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
    <header>
        <h1>Log into Analytical Survey</h1>
        <p>Login using social networks</p>
    </header>
    <form action="signed" method="post">
        <div>
            <input type="text" name="email" required="required" placeholder="Email">
            <input type="password" name="password" required="required" placeholder="Password" >
            <input type="submit" class="sign-up" value="Sign-up">
        </div>
        <div>
            <div class="deviders"></div>
            <p>or</p>
            <div class="deviders"></div>
        </div>
        <div>
            <button> <a href="#">Continue with Google</a></button>
            <button> <a href="#">Continue with Apple</a></button>
            <button> <a href="#">Continue with Facebook</a></button>
        </div>
    </form>
    <footer>
        <p>Need an account? </p><a href="#">SIGN UP</a>
    </footer>
</body>
</html>