<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succes</title>
    <link rel="icon" href="images/logo/GeoConsultGroupLogo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
</head>

<body>
    <a href="#" class="btn__back" onclick="history.back()" ><img src="/static/imgs/back_array.svg"></a>
    <div class="bg-custom text-white p-2 m-3 m-5">
        <div class="d-flex justify-content-between">
            <p class="text-white ps-3 pt-3">someonesemail@gmail.com</p>
            <div class="pt-2 pe-2">
                <img src="/static/imgs/info.png" alt="">
            </div>
        </div>
        <img src="/static/imgs/coins.png" class="ms-5" width="150px" alt="">
        <div class="d-flex ps-3">
            <img src="/static/imgs/story-logo.png" class="pb-2 mb-2" alt="">
            <p class="ps-3 pt-1">Story</p>
            <img src="/static/imgs/array.svg" class="ps-3 pb-3" alt="">
        </div>
    </div>
    <div class="container">
        <div class="">
            <div class="d-flex flex-column">
                <img src="/static/imgs/survey.png" class="position-relative" style="left: 45%;" width="100px" alt="">
                <a type="submit" class="text-decoration-none position-absolute btn-custom py-2 px-5 mb-4 text-center" style="left: 43%; top: 75%;">Survey
                    sent</a>

            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-3.6.1.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/script.js"></script>
    <!-- END -->
</body>

</html>